# Claude Code
.claude/

# Firebase
google-services.json

# Local config
local.properties

# Android build
*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/

# Keystore
*.jks
*.keystore
